section {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout-profile {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

